@media only screen and (min-width:992px) and (max-width:1200px){
    .header-hero-section-main-image {
        margin-top: 138px;
    }
    .header-hero-section-text-area-vector-image {
        position: absolute;
        bottom: 171px;
        left: 31%;
    }
    .header-hero-section-small-image-1 {
        left: 41px;
    }
    .header-hero-section-small-image-2 {
        right: 17%;
        
    }
    .header-hero-section-small-image-3 {
        right: 2%;     
    }
    .new-year-discount-total-area-small-image-5 {
        top: -60px;
    }
    
}

@media only screen and (min-width:768px) and (max-width:991px) {

}

@media only screen and (max-width:767px) {
    body {
        overflow-x: hidden;
    }
    .navbar-section-menu-link {
        display: none;
    }
    .navbar-section-with-buttons {
        display: none;
     
    }
  
    img.responsive-menu-image{
        display:inline-block;
    }
    .header-section-hero-section {
        height: auto;
        margin-top:60px;
    }
    .header-hero-section-total-text-area {
        margin: 0 0 0 50px;
        height: auto;
    }
    .header-hero-section-total-text-area-heading-text {
        text-align: center;
    }
    .header-hero-section-total-text-area-heading-text h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
    }
    .header-hero-section-total-text-area {
        margin: 0 0 0 14px;
        height: auto;
    }
    .header-hero-section-total-text-area-paragraph-text {
        text-align: center;
        width: 100%;
    }
     
    .header-hero-section-total-text-area-paragraph-text p {
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
    }
    .header-hero-section-total-text-area-link-area {
        flex-direction: column;
    }
    .header-hero-section-total-text-area-link-area-icons {
        padding-top: 25px;
    }
    .header-section-navbar {
        padding: 0px 0 0 50px;
    }
    .header-hero-section-text-area-vector-image img {
        width: 58%;
    }
    .header-hero-section-text-area-vector-image {
        position: absolute;
        bottom: 80px;
        left: 53%;
    }
    .header-hero-section-main-image img {
        display: none;
    }
    .header-hero-section-small-image-1 {
        top: -443px;
        left: 13px;
    }
    .header-hero-section-small-image-2 {
        right: 7px;
        top: 89px;
    }
    .header-hero-section-small-image-3 {
        left: 7px;
        top: -68px;
    }
    .header-hero-section-side-image-full-area {
        display: none;
    }
    a.header-button {
        text-decoration: none;
        background-color: #CB8461;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFF;
        width: 187px;
        height: 48px;
        padding: 10px 30px;
        border-radius: 8px;
    }
    section.trusted-company-section {
        margin: 52px 0 190px 0;
    }
    .trusted-company-section-text-area h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    .trusted-company-section-text-area p {
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
        width: 81%;
        margin: 15px 0 15px 28px;
    }
    .trusted-company-section-image-3 {
        margin: 25px 0 10px 0;
    }
    
    .trusted-company-section-image-4 {
        margin: 25px 0 10px 0;
    }
    
    .trusted-company-section-image-5 {
        margin-top: 20px;
    }
    .navbar-section-logo-text h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
}

@media only screen and (max-width:576px) {
    .navbar-section-logo-text h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    .navbar-section-menu-link {
        display: none;
    }
    .navbar-section-with-buttons {
        display: none;
    }
    .header-hero-section-main-image img {
        display: none !important;
    }
    .header-hero-section-small-image-1 {
        top: -376px;
        left: 7px;
    }
    .header-hero-section-small-image-3 {
        left: 7px;
        top: -83px;
    }
    .header-hero-section-small-image-2 {
        right: 7px;
        top: -59px;
    }
    .new-year-discount-total-area-image img {
        display: none !important;
    }
    section.trusted-company-section {
        margin: 52px 0 72px 0;
    }
    .new-year-discount-total-area-small-image-1{
        display:none;
    }
    .new-year-discount-total-area-small-image-1-side-image-1{
        display:none !important;
    }
    .new-year-discount-total-area-small-image-2{
        display:none;
    }
    .new-year-discount-total-area-small-image-2-side-image-2{
        display:none;
    }
    .new-year-discount-total-area-small-image-3{
        display:none;
    }
    .new-year-discount-total-area-small-image-3-side-image-3{
        display:none;
    }
    .new-year-discount-total-area-small-image-6 {
        position: absolute;
        content: url(../Images/Intersect-2.png);
        top: -279px;
    }
    .new-year-discount-total-area-information-texts {
        margin-bottom: 228px !important;
        text-align: center;
        padding-right: 16rem;
        width: 100%;
    }
    .new-year-bg {
        height: 85vh;
    }
    .new-year-discount-total-area-information-texts h4 {
        font-size: 16px;
        line-height: 27px;
        font-weight: 600;
        margin-bottom: 30px;
        padding-left: 22px;
        width: 100%;
    }
    .new-year-discount-total-area-small-image-5 {
        right: 44px;
        top: -189px;
    }
    .new-year-discount-total-area-small-image-6 {
        top: -415px;
        left: 44px;
    }
    .new-year-discount-total-area-small-image-4{
        top: -202px;
        left: 72px;
    }
    .new-year-discount-total-area-small-image-4-side-image-4 {
        top: -194px;
        left: 81px;
    }
    .exist-full-section {
        margin-top: 40px;
    }
    .exist-answer-section-text-area {
        text-align: center;
    }
    .exist-answer-section-text-area h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
    }
    .exist-answer-section-text-area p {
        font-size: 12px;
        line-height: 30px;
        color: #808080;
        width: 100%;
    }
    .exist-answer-review-area-text small {
        position: absolute;
        font-size: 10px;
        line-height: 15px;
        font-weight: 400;
        top: 62%;
    }
    .exist-answer-section-horizontal-line {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exist-answer-section-update-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exist-answer-section-review-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exist-answer-section-update-area-updated-material-text,
    .exist-answer-section-update-area-member-join-text {
        text-align: center;
    }
    .exist-answer-section-update-area-updated-material-text h5,
    .exist-answer-section-update-area-member-join-text h5 {
        font-size: 24px;
        line-height: 36px;
    }
    .exist-answer-section-update-area-updated-material-text small,
    .exist-answer-section-update-area-member-join-text small {
        font-size: 10px;
        line-height: 30px;
    }
    .exist-full-section-negative-reviews {
        margin-top: 2.5rem;
    }
    .material-limitations-full-area img,
    .unprofessional-mentor-full-area img,
    .video-quality-full-area img,
    .high-price-full-area img {
        margin: 0 auto;
    }
    .material-limitations-full-area,
    .unprofessional-mentor-full-area,
    .video-quality-full-area,
    .high-price-full-area {
        text-align: center;
    }
    .material-limitations-full-area h6, .unprofessional-mentor-full-area h6, .video-quality-full-area h6, .high-price-full-area h6{
        font-size: 18px;
        line-height: 27px;
    }
    .material-limitations-full-area p, .unprofessional-mentor-full-area p, .video-quality-full-area p, .high-price-full-area p {
        font-size: 12px;
        line-height: 30px;
        color: #808080;
        width: 100%;
    }
    .popular-courses-of-week-section-text-area {
        padding: 50px 0 0 0;
    }
    .popular-courses-of-week-section-text-area h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
    }
    .popular-courses-of-week-section-text-area p {
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
        width:100%;
        margin:0;
    }
    .popular-courses-of-week-section-box-image-sub-images-rectangle-image {
        width: 26.88px;
        height: 26.88px;
        bottom: 105px;
        left: 5px;
    }
    .popular-courses-of-week-section-box-image-sub-images-rectangle-image-side-image {
        position: absolute;
        width: 26.88px;
        height: 26.88px;
        border: 1px solid #CB8461;
        rotate: 15deg;
        bottom: 101px;
        left: -2px;
    }
    .popular-courses-of-week-section-box-image-sub-images-circular-image {
        right: 0px;
        top: -118px;
    }
    .popular-courses-of-week-section-box-image-sub-images-circular-image-side-image {
        right: -2px;
        top: -109px;
    }
    .popular-courses-of-week-section-box-image-sub-images-transparent-button {
        top: 151px;
        left: 33%;
    }
    .popular-courses-of-week-section-box-image-sub-images-play-button {
        top: 163px;
        left: 37%;
    }
    .play-button {
        top: 82px;
        left: 44%;
    }
    .popular-courses-of-week-section-box h5 {
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
    }
    .popular-courses-of-week-section-box-users-instructor-info-text p {
        font-size: 10px;
        line-height: 15px;
    }
    .popular-courses-of-week-section-box-users-instructor-info-text small {
        position: absolute;
        font-size: 7px;
        line-height: 10.5px;
        color: #808080;
        bottom: 5px;
    }
    .popular-courses-of-week-section-box-users-participants-info-text p {
        font-size: 10px;
        line-height: 15px;
    }
    .popular-courses-of-week-section-box-users {
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
    .popular-courses-of-week-button-area a {
        width: 93px;
        height: 50px;
        padding: 12px 15px 12px 20px;
    }
    .popular-courses-of-week-button-area h6 span {
        font-size: 16px;
        color: #2B2B2B;
        font-weight: 600;
        line-height: 24px;
    }
    .popular-courses-of-week-button-area h6 {
        font-size: 8px;
        line-height: 30px;

    }

    .popular-courses-of-week-section-arrow-button-2-bg-side-image {
        width: 53px;
        height: 53.28px;
        position: absolute;
        border-radius: 50%;
        background: #FFF;
        right: -25px;
        top: 475px;
        transition: 0.3s;
        z-index: 999;
    }
    .let-us-skill-shoot-section-about h2{
        font-size:20px;
        line-height:30px;
        padding-left: 0;
    }
    .let-us-skill-shoot-section-about h2 span{
        font-size:20px;
        line-height:30px;
    }
    .let-us-skill-shoot-section-text-area-paragraph p {
        font-size: 12px;
        line-height: 30px;
        color: #808080;
        width: 100%;
        padding-left: 0;
    }
    .let-us-skill-shoot-section-text-area-paragraph p:first-child{
        width:100%;
        padding-left:0;
    }
    .let-us-skill-shoot-section-text-area-paragraph p:last-child{
        width:100%;
        padding-left:0;
    }
    .let-us-skill-shoot-section-text-area-vector-image img {
        position: absolute;
        left: 20px;
        bottom: 0px;
        display: none;
    }
    .let-us-skill-shoot-section-image-area {
        display: none;
    }
    .let-us-skill-shoot-section-about {
        margin-top: 0px;
    }
    .let-us-skill-shoot-section-text-area-vector-image img {
        width: 109px;
        margin-left: 40px !important;
    }
    section.let-us-skill-shoot-section {
        margin-top: 60px;
    }
    .let-us-skill-shoot-section-about-bullet-paragraph-1,
    .let-us-skill-shoot-section-about-bullet-paragraph-2 {
        margin-left: 0px;
    
    }
    .let-us-skill-shoot-section-about-bullet-paragraphs {
        margin-top: 25px;
    }
    .let-us-skill-shoot-section-about-bullet-paragraph-1 p,
    .let-us-skill-shoot-section-about-bullet-paragraph-2 p {
        font-size: 12px;
        line-height: 30px;
        font-weight: 600;
        color: #2C2C2C;
        padding-left: 57px;
    }
    .let-us-skill-shoot-section-about-bullet-paragraphs {
        margin-top: 25px;
        width: 100%;
        padding-left: 0;
    }
    .let-us-skill-shoot-section-about-bullet-paragraph-1 p:last-child,
    .let-us-skill-shoot-section-about-bullet-paragraph-2 p:last-child
     {
        padding-left: 59px;
        color: #2C2C2C;
        margin-left:0px;
        width: 169px !important;
    }
    .let-us-skill-shoot-section-text-area-side-image-area-image-2 {
        bottom: 109px;
        right: 91px;
    }
    .let-us-skill-shoot-section-about-bullet-paragraph-1,
    .let-us-skill-shoot-section-about-bullet-paragraph-2 {
        bottom: 107px;
        right: 90px;
    }
    .let-us-skill-shoot-section-text-area-side-image-area-image-1 {
        bottom: 108px;
        left: -3px;
      
    }
    .let-us-skill-shoot-section-text-area-side-image-area-image-3 {
        bottom: 23px;
        left: -2px;
    }
    .let-us-skill-shoot-section-text-area-side-image-area-image-4 {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #eb9f79;
        right: 90px;
        bottom: 24px;
    }
    .let-us-skill-shoot-section-about-bullet-paragraph-2 p:last-child{
        width: 33%;
    }
    .improve-your-skills-section-text-area h3 {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        color: #2C2C2C;
        padding-top: 64px;
    }
    .improve-your-skills-section-sub-image-2 {
        bottom: 238px;
        left: 1px;
    }
    .improve-your-skills-section-text-area {
        padding:0;
        margin:0;
        text-align: center;
    }
    a.join-now-btn {
        width: 144px;
        height: 31px !important;
        background: #CB8461;
        border-radius: 4px;
        padding: 5px 25px 15px 45px;
        font-size: 10px !important;
        line-height: 20px !important;
        font-weight: 600;
        margin-left: 2rem;
    }
    a.subscribe-course-btn {
        font-size: 10px;
        line-height: 20px;
        width: 144px;
        height: 31px !important;
        padding: 5px 31px 12px 44px;
        margin-right: 1rem;
    }
    .improve-your-skills-section-button-area {
       padding-bottom:24px;
       margin-top:0%;
    }
    .improve-your-skills-section-sub-image-2{
        bottom:52px;
    }
    .improve-your-skills-section-sub-image-1 {
        position: absolute;
        width: 26.88px;
        height: 26.88px;
        background: #CB8461;
        rotate: 15deg;
        bottom: -108px;
        right: 37px;
    }
    .improve-your-skills-section-sub-image-1-side-image {
        position: absolute;
        width: 26.88px;
        height: 26.88px;
        border: 1px solid #CB8461;
        rotate: 15deg;
        top: 84px;
        right: 45px;
    }
    .subscribe-with-us-section {
        margin-top: 50px;
    }
    .subscribe-with-us-section-title h2, .what-they-say-title h2, .footer-section-title h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        color: #2C2C2C;
    }
    .subscribe-with-us-section-title p, .what-they-say-title p, .footer-section-title p {
        color: #808080;
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
        width: 100%;
        margin-left:0% !important;
    }
    .subscribe-with-us-section-box-price h6 span {
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        color: #2C2C2C;
    }
    .subscribe-with-us-section-box-price h6 {
        font-size: 8px;
        color: #808080;
        line-height: 15px;
    }
    .subscribe-with-us-section-title, .what-they-say-title, .footer-section-title {
        text-align: center;
        margin-bottom:0px;
    }
    .subscribe-with-us-section-box-description-text h6 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #2C2C2C;
        transition: 0.3s !important;
    }
    .subscribe-with-us-section-box-description-text p {
        font-size: 10px;
        color: #808080;
        line-height: 18px;
        width: 222px;
        transition: 0.3s;
    }
    .subscribe-with-us-section-box-menu ul li a {
        text-decoration: none;
        color: #2C2C2C;
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 5px;
        display: inline-block;
        margin-bottom:0px !important;
    }
    a.choose-plan-btn {
        text-decoration: none;
        background-color: #FED1BA;
        text-align: center;
        font-size: 10px;
        line-height: 15px;
        font-weight: 600;
        padding: 15px 40px 15px 40px;
        color: #FDC2A5;
        border-radius: 66px;
        opacity: 0.6;
        margin-left: 12px;
    }
    .subscribe-with-us-section-box {
        width: 100% !important;
        height: 100% !important;
        padding: 15px 25px 15px 25px;
        transition: 0.3s;
    }
    a.most-popular-btn {
        opacity: 0;
        text-decoration: none;
        width: 121px;
        height: 27px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 0.83px;
        text-align: center;
        padding: 7px 12px 7px 12px;
        border-radius: 15px;
        margin-left: 111px;
    }
    .say-slider-section-box {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 4px;
        padding: 55px 0 0 0;
        transition: 0.3s;
    }
    section.what-they-say-section {
        margin-top: 0px !important;
        height: 88vh !important;
    }
    .say-slider-section-box h5 {
        font-size: 12px;
        line-height: 27px;
        color: #2C2C2C;
        font-weight: 400;
    }
    .say-slider-section-box h5 {
        font-size: 12px;
        line-height: 27px;
        color: #2C2C2C;
        font-weight: 400;
    }
    .say-slider-section-box p {
        text-align: center;
        color: #808080;
        font-size: 8px;
        line-height: 14px;
        font-weight: 400;
        width: 100%;
        margin-left: 0% !important;
    }
    .say-slider-section-arrow-button-1 {
        position: absolute;
        width: 53px;
        height: 53.28px;
        border-radius: 50%;
        background-color: #FFF;
        left: 79px;
        top: -8px;
        transition: 0.3s;
    }
    .say-slider-section-arrow-button-2 {
        position: absolute;
        width: 53px;
        height: 53.28px;
        border-radius: 50%;
        background-color: #FFF;
        left: 146px;
        top: -8px;
    }
    .owl-theme .owl-dots, .owl-theme .owl-nav {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        display: none;
    }
    .footer-bg {
        background-image: url(../Images/footer-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100% !important;
        width: 100% !important;
    }
    .subscribe-with-us-section-title h2, .what-they-say-title h2, .footer-section-title h2 {
        font-size: 15px;
        line-height: 27px;
        font-weight: 600;
        color: #2C2C2C;
    }
    .subscribe-with-us-section-title p, .what-they-say-title p, .footer-section-title p {
        color: #808080;
        font-size: 10px;
        line-height: 15px;
        font-weight: 400;
        width: 100%;
        margin-left: 0% !important;
    }
    input[type="email"] {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: #FFFFFF;
        border: none;
        outline: none;
        opacity: 0.8;
        color: #2C2C2C;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }
    .footer-section-form a {
        text-decoration: none;
        color: #FFFFFF;
        width: 50%;
        height: 100%;
        background: #CC8663;
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -0.5px;
        padding: 10px 15px 10px 35px;
        margin: 10px auto !important;
        display: block;
    }
    .footer-section-form {
        display: block !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 10px 0;
    }
    .footer-section-form {
        display: block !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 10px 0;
    }
    .footer-section-sub-image-2 {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid #CC8663;
        right: 265px;
        bottom: 202px;
    }
    .footer-section-sub-image-3 {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #CC8663;
        right: 256px;
        bottom: 192px;
    }
    .footer-section-sub-image-1 {
        position: absolute;
        content: url(../Images/footer-vector-1.png);
        left: 240px;
        bottom: -35px;
        width: 17%;
    }
    .footer-section-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-section-navbar-logo h3 {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }
    .footer-section-nav-links ul li {
        display: inline-block;
        width: 100%;
    }
    .footer-section-nav-links ul li a {
        font-size: 10px;
        color: #e1e1e1;
        margin-left: 5px;
    }
    .footer-section-nav-links ul {
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
    }
    .let-us-skill-shoot-section-about-bullet-paragraph-1, .let-us-skill-shoot-section-about-bullet-paragraph-2 {
        width: 208% !important;
    }
    .new-year-discount-total-area-small-image-6 {
        top: -397px !important;
        left: 60px !important;
    }
    .new-year-discount-total-area-small-image-5 {
        right: 60px;
        top: -223px;
    }
    .new-year-discount-total-area-information-texts a {
        color: #FFF;
        text-decoration: none;
        background: #245D51;
        width: 231px !important;
        height: 60px !important;
        padding: 15px 25px 15px 25px;
        border-radius: 4px;
        margin-top: 7px;
        margin-left: 24px;
        font-size: 12px;
        line-height: 20px;
    }
    .header-hero-section-small-image-1 {
        top: -444px;
        left: 7px;
    }
    .improve-your-skills-section-sub-image-1 {
        position: absolute;
        width: 26.88px;
        height: 26.88px;
        background: #CB8461;
        rotate: 15deg;
        bottom: -74px;
        right: 37px;
    }
    .improve-your-skills-section-sub-image-1-side-image {
        position: absolute;
        width: 26.88px;
        height: 26.88px;
        border: 1px solid #CB8461;
        rotate: 15deg;
        top: 51px;
        right: 45px;
    }
  
}
